@model ColmanAppStore.Models.Category

@{
    ViewData["Title"] = Model.Name + " apps";
    <link rel="stylesheet" href="~/css/categoryStyle.css" />
}

<h1 id="CategoryTitle">@Model.Name apps</h1>

@if (Model.Apps != null && Model.Apps.Count > 0)
{
    <div class="container px-3">
        <div class="row g-2 justify-content-center">

            @foreach (var item in Model.Apps)
            {
                <div class="card col-3" id="CardStyle">

                    <img src="@item.Logo.Image" class="card-img-top" alt="can't load image" id="AppLogo">
                    <div class="card-body">
                        <h5 class="card-title" id="AppTitle">@item.Name</h5>
                        <p class="card-text">Price: @item.Price ₪</p>
                        <p class="card-text">Rate: @string.Format("{0:0.00}", item.AverageRaiting)  <span>&#9733;</span>  </p>
                        <i class="fa fa-star" style="color:black"></i>
                        <a href="/Apps/Details/@item.Id" class="btn btn-primary stretched-link" id="AppBtn">More info</a>
                    </div>
                </div>
            }

        </div>
    </div>
}
else
{
    <br />
    <h2 class="text-center" id="PageHeader">Sorry, no apps in this category</h2>
}