@model IEnumerable<ColmanAppStore.Models.PaymentMethod>

@{
    ViewData["Title"] = "All payment methods";
    <link rel="stylesheet" href="~/css/paymentMethodStyle.css" />
}

<div class="row">
    <div class="col-lg-9 col-md-10">
        <h1 id="PaymentMethodHeader">Credit cards</h1>
    </div>

    <div class="col-lg-3 col-md-2">
        <form id="searchPaymentMethod" asp-action="searchPaymentMethod" asp-controller="PaymentMethods" class="d-flex">
            <input id="font" name="query" type="search" class="form-control" placeholder="Search by Id number" aria-label="Search" aria-describedby="search-addon" autocomplete="off" />
            <div id="slider-range"></div>
        </form>
    </div>

</div>

@if (Model.Count() > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.NameOnCard)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CardNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ExpiredDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CVV)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IdNumber)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.NameOnCard)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CardNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ExpiredDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CVV)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdNumber)
                    </td>
                    <td>
                        <a class="btn btn-outline-info" asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                        <a class="btn btn-outline-info" asp-action="Details" asp-route-id="@item.Id">Details</a> 
                        <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <br />
    <h2 class="text-center" id="PageHeader">Sorry, you don't have any payment methods</h2>
    <br />
}
