@model IEnumerable<ColmanAppStore.Models.User>

@{
    ViewData["Title"] = "Index";

    <link rel="stylesheet" href="~/css/UserStyle.css" />
    <link rel="stylesheet" href="~/js/site.js" />

}


<div class="row">
    <div class="col-lg-9 col-md-10">
        <h1 id="UserSearchHeader">All Users</h1>
    </div>

    <div class="col-lg-3 col-md-2">
        <form id="searchUser" asp-action="SearchUser" asp-controller="Users" class="d-flex">
            <input id="query" name="query" type="search" class="form-control" placeholder="Search by user name" aria-label="Search" aria-describedby="search-addon" autocomplete="off" />
            <div id="slider-range"></div>
        </form>
    </div>

</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserType)
            </th>
            <th>
                Delete User
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserType)
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


@*Search AJAX*@
@section Scripts {
    <script src="~/js/search.js"></script>

    <script type="text/html" id="hidden-template">
        <tr>
            <td>
                {name}
            </td>
            <td>
                {email}
            </td>
            <td>
                {password}
            </td>
            <td>
                {userType}
            </td>
            <td>
                <a href="/Users/Delete/{id}">Delete</a>
            </td>
        </tr>
    </script>
}