@model ColmanAppStore.Models.App

@{
    ViewData["Title"] = "Details";
}

<center>
    <img src="@Model.Logo.Image" class="card-img-top" alt="can't load image" style="max-width: 10%;" />
</center>

<h1 class="text-center">@Model.Name</h1>

<div>
    <h4>Information</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Logo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Logo.Image)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.publishDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.publishDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Size)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Size)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Images)
        </dt>
        <dd class="col-sm-10">
            @*@Html.DisplayFor(model => model.Images.Image)*@

            @if (Model.Images != null)
            {
                @foreach (var item in Model.Images)
                {
                    <p>@item.Image</p>
                }
            }
            else
            {
                <p>no images added for the app</p>//NOT SHOWING IN WEB!!! TO FIX
            }
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Videos)
        </dt>
        <dd class="col-sm-10">
            @if (Model.Videos != null)
            {
                @foreach (var item in Model.Videos)
                {
                    <p>@item.Video</p>
                }
            }
            else
            {
                <p>no videos added for the app</p>
            }
            @*@Html.DisplayFor(model => model.Videos.Video)*@
        </dd>


        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AverageRaiting)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AverageRaiting)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.countReview)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.countReview)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeveloperName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeveloperName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
