@model IEnumerable<ColmanAppStore.Models.App>


@{ ViewBag.Title = "Home"; }

<link rel="stylesheet" href="/css/HomePage.css" />
<link rel="stylesheet" href="/js/Facebook.js" />


<div id="center">

    <section class="pt-5 pb-5">
        <div class="row">
            <h1 id="font2">Top Rated</h1>

            <div class="row">
                <div class="col-1 align-self-center">
                    <a class="btn btn-light mb-3 mr-1" href="#carouselExampleIndicators1" role="button" data-slide="prev">
                        <i class="fa fa-arrow-left"></i>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
                        </svg>
                    </a>
                </div>
                <div class="col-10">
                    <div id="carouselExampleIndicators1" class="carousel slide" data-ride="carousel">
                        @{ var order = Model.OrderByDescending(r => r.AverageRaiting); }
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="row">

                                    @for (int i = 0; i < 3; i++)
                                    {
                                        <div class="col-md-4 mb-3">
                                            <div class="card" id="card-home">
                                                <img src="@order.ElementAt(i).Logo.Image" class="card-img-top" alt="can't load image" id="card-img-home">
                                                <div class="card-body">
                                                    <h5 class="card-subtitle mb-2 text-muted">@order.ElementAt(i).Name</h5>
                                                    <h6 class="card-title">Raiting: @string.Format("{0:0.00}", @order.ElementAt(i).AverageRaiting)  <span>&#9733;</span></h6>
                                                    <a asp-action="details" asp-controller="Apps" asp-route-id="@order.ElementAt(i).Id" class="btn btn-primary">View App </a>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row">

                                    @for (int i = 3; i < 6; i++)
                                    {
                                        <div class="col-md-4 mb-3">
                                            <div class="card" id="card-home">
                                                <img src="@order.ElementAt(i).Logo.Image" class="card-img-top" alt="can't load image" id="card-img-home">
                                                <div class="card-body">
                                                    <h5 class="card-subtitle mb-2 text-muted">@order.ElementAt(i).Name</h5>
                                                    <h6 class="card-title">Raiting: @string.Format("{0:0.00}", @order.ElementAt(i).AverageRaiting)  <span>&#9733;</span></h6>
                                                    <a asp-action="details" asp-controller="Apps" asp-route-id="@order.ElementAt(i).Id" class="btn btn-primary">View App </a>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-1 align-self-center">
                    <a class="btn btn-light mb-3 " href="#carouselExampleIndicators1" role="button" data-slide="next">
                        <i class="fa fa-arrow-right"></i>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                        </svg>
                    </a>
                </div>
            </div>

        </div>

    </section>

    <section class="pt-5 pb-5">
        <div class="row">
            <h1 id="font2">Last Released</h1>

            <div class="row">
                <div class="col-1 align-self-center">

                    <div class="text-right">
                        <a class="btn btn-light mb-3 mr-1" href="#carouselExampleIndicators2" role="button" data-slide="prev" ">
                            <i class="fa fa-arrow-left"></i>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="col-10">
                    <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">
                        @{ var order2 = Model.OrderByDescending(r => r.publishDate).Where(a => a.Id != 49); }
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="row">

                                    @for (int i = 0; i < 3; i++)
                                    {
                                        <div class="col-md-4 mb-3">
                                            <div class="card" id="card-home">
                                                <img src="@order2.ElementAt(i).Logo.Image" class="card-img-top" alt="can't load image" id="card-img-home">
                                                <div class="card-body">
                                                    <h5 class="card-subtitle mb-2 text-muted">@order2.ElementAt(i).Name</h5>
                                                    <h6 class="card-title">Raiting: @string.Format("{0:0.00}", @order2.ElementAt(i).AverageRaiting)  <span>&#9733;</span></h6>

                                                    <a asp-action="details" asp-controller="Apps" asp-route-id="@order2.ElementAt(i).Id" class="btn btn-primary">View App </a>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row">

                                    @for (int i = 3; i < 6; i++)
                                    {
                                        <div class="col-md-4 mb-3">
                                            <div class="card" id="card-home">
                                                <img src="@order2.ElementAt(i).Logo.Image" class="card-img-top" alt="can't load image" id="card-img-home">
                                                <div class="card-body">
                                                    <h5 class="card-subtitle mb-2 text-muted">@order2.ElementAt(i).Name</h5>
                                                    <h6 class="card-title">Raiting: @string.Format("{0:0.00}", @order2.ElementAt(i).AverageRaiting)  <span>&#9733;</span></h6>

                                                    <a asp-action="details" asp-controller="Apps" asp-route-id="@order2.ElementAt(i).Id" class="btn btn-primary">View App </a>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-1 align-self-center">
                    <a class="btn btn-light mb-3 " href="#carouselExampleIndicators2" role="button" data-slide="next">
                        <i class="fa fa-arrow-right"></i>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="pt-5 pb-5">
        <div class="row">
            <h1 id="font2">Most Reviewd</h1>

            <div class="row">
                <div class="col-1 align-self-center">
                    <div class="text-right">
                        <a class="btn btn-light mb-3 mr-1" href="#carouselExampleIndicators3" role="button" data-slide="prev" ">
                            <i class="fa fa-arrow-left"></i>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="col-10">
                    <div id="carouselExampleIndicators3" class="carousel slide" data-ride="carousel">
                        @{ var order3 = Model.OrderByDescending(r => r.countReview); }
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="row">

                                    @for (int i = 0; i < 3; i++)
                                    {
                                        <div class="col-md-4 mb-3">
                                            <div class="card" id="card-home">
                                                <img src="@order3.ElementAt(i).Logo.Image" class="card-img-top" alt="can't load image" id="card-img-home">
                                                <div class="card-body">
                                                    <h5 class="card-subtitle mb-2 text-muted">@order3.ElementAt(i).Name</h5>
                                                    <h6 class="card-title">Raiting: @string.Format("{0:0.00}", @order3.ElementAt(i).AverageRaiting)  <span>&#9733;</span></h6>

                                                    <a asp-action="details" asp-controller="Apps" asp-route-id="@order3.ElementAt(i).Id" class="btn btn-primary">View App </a>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row">
                                    @for (int i = 3; i < 6; i++)
                                    {
                                        <div class="col-md-4 mb-3">
                                            <div class="card" id="card-home">
                                                <img src="@order3.ElementAt(i).Logo.Image" class="card-img-top" alt="can't load image" id="card-img-home">
                                                <div class="card-body">
                                                    <h5 class="card-subtitle mb-2 text-muted">@order3.ElementAt(i).Name</h5>
                                                    <h6 class="card-title">Raiting: @string.Format("{0:0.00}", @order3.ElementAt(i).AverageRaiting)  <span>&#9733;</span></h6>

                                                    <a asp-action="details" asp-controller="Apps" asp-route-id="@order3.ElementAt(i).Id" class="btn btn-primary">View App </a>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-1 align-self-center">
                    <a class="btn btn-light mb-3 " href="#carouselExampleIndicators3" role="button" data-slide="next">
                        <i class="fa fa-arrow-right"></i>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                        </svg>
                    </a>
                </div>
            </div>
        </div>

    </section>
</div>



<!--Facebook Login + like + share Colmanappstore page-->


<body id="facebookLogin">
    @if (User.IsInRole("Admin"))
    {
        <a class="btn btn-outline-primary" href="#" onClick="postToFacebook()">Post to Facebook</a>
    }
    <script>

        window.fbAsyncInit = function () {
            FB.init({
                appId: 135748898652519,
                autoLogAppEvents: true,
                xfbml: true,
                version: 'v11.0'
            });

        }

        //Added Long live token
        function postToFacebook() {
            FB.api(
                '/100841052251427/feed',
                'POST',
                {
                    message: "Visit our website!!",
                    link: new URL(window.location.host),
                    access_token: 'EAAB7doDiAWcBADKi7wf14ZAtjdoJs0swc9JbGcRuuoIscAYBHTu0gZAHnNBMyYNZAosnG0CR6gWnXL2kJuT0pltBCs9k5tUp2sFRFQavfZAC6Ng7UChLMTXNx2fQI0JryUJTI6nzCOcLBR1fotxfaRAPWrJvR1yLE7DCl9sdWo9DIdy5GmGYmhAUKUcCQ1k6hXCrDM1L6JVCMH8P4j77'
                },
                function (response) {
                    // Insert your code here
                    if (!response) {
                        alert('Error occured');
                    } else {
                        alert('Post ID: ' + response.id);
                    }
                }
            );
        }

                 //   window.FB.AppEvents.logPageView();

    </script>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script>

    <!-- <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2FColmanappstore-100841052251427&width=0&layout=button_count&action=like&size=large&share=true&height=46&appId=135748898652519"
             width="0" height="46" style="border:none;
     overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share">
     </iframe>

     <div class="fb-like" data-href="https://www.facebook.com/Colmanappstore-100841052251427"
          data-width="0" data-layout="button_count" data-action="like" data-size="large" data-share="true">

     </div>

     <div class="fb-login-button" data-width="" data-size="medium" data-button-type="login_with" data-layout="default" data-auto-logout-link="false" data-use-continue-as="true"></div>

        -->
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/he_IL/sdk.js#xfbml=1&version=v11.0&appId=135748898652519&autoLogAppEvents=1" nonce="UXsxw2Ei">

    </script>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/he_IL/sdk.js#xfbml=1&version=v11.0&appId=135748898652519&autoLogAppEvents=1" nonce="63lwDWoN">

    </script>

    <!--like+share button-->
    <div class="fb-like" data-href="https://www.facebook.com/Colmanappstore-100841052251427" data-width="" data-layout="button_count" data-action="like" data-size="large" data-share="true">

    </div>
    <!--login button-->
    <div class="fb-login-button" data-width="" data-size="medium" data-button-type="continue_with" data-layout="default" data-auto-logout-link="true" data-use-continue-as="false">

    </div>
</body>
