@model Join

@{
    ViewData["Title"] = " Apppayment";
    <link rel="stylesheet" href="~/css/paymentStyle.css" />
}

<h1 id="paymentHeader">Buyers list</h1>

<div>
    <div class="ManagerOverviewPageWrapper">

        @if (Model.Users.Count > 0)
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Payment ID
                        </th>
                        <th>
                            Name
                        </th>
                        <th>
                            Address
                        </th>
                        <th>
                            City
                        </th>
                        <th>
                            Payment Method number
                        </th>
                        <th>
                            App name
                        </th>
                        <th>
                            App details
                        </th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (Payment user in Model.Users)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => user.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => user.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => user.Address)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => user.City)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => user.PaymentMethod.CardNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => user.App.Name)
                            </td>
                            <td>
                                <a class="btn btn-outline-info" asp-controller="Apps" asp-action="Details" asp-route-id="@user.AppId">Back to @user.App.Name <i class="fas fa-info"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <h3 id="subtitle">No one bought this app!</h3>
        }

    </div>
</div>
