@model Join

@{
    ViewData["Title"] = " Apppayment";
    <link rel="stylesheet" href="~/css/paymentStyle.css" />
}

<h1 id="paymentHeader">Buyers list</h1>

<div>

    <div class="ManagerOverviewPageWrapper">


        @if (Model.Users.Count > 0)
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            ID
                        </th>
                        <th>
                            Name
                        </th>
                        <th>
                            Address
                        </th>
                        <th>
                            City
                        </th>
                        <th>
                            Payment Method Id
                        </th>
                        <th>
                            App Id
                        </th>
                        <th>
                            App details
                        </th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (Payment user in Model.Users)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => user.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => user.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => user.Address)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => user.City)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => user.PaymentMethodId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => user.AppId)
                        </td>
                        <td>
                            <a asp-controller="Apps" asp-action="Details" asp-route-id="@user.AppId">Back to app <i class="fas fa-info"></i></a> 
                        </td>
                    </tr>

                    }
                </tbody>
            </table>
        }
        else
        {
            <h3>No one bought this app!</h3>
        }

    </div>
</div>
