@model ColmanAppStore.Models.Payment

@{
    ViewData["Title"] = "Create payment";
}

<h1 style="font-family: 'Days One', sans-serif;text-align:center">App payment</h1>

<div class="card_payment col-12" style="width: 70rem;margin-top: 10px;margin-right: 10px;margin-left: 10px;margin-bottom: 10px;">
    <div class="card-body">
        <div class="row">
            <div class="col-75">
                <div class="container" style="background-color: #f2f2f2;padding: 5px 20px 15px 20px;border: 1px solid lightgrey;border-radius: 3px;">
                    <form asp-action="Create">
                        @*NEED TO CHANGE WHERE TO GO AFTER SUBMIT*@
                        <input type="hidden" name="AppId" value="@ViewBag.AppId" />
                        <input type="hidden" name="UserName" value="@User.Identity.Name" />

                        <div class="row">
                            <div class="col-md-4">
                                <h3>Billing Address</h3>
                                <div class="form-group">
                                    <label for="fname"><i class="fa fa-user"></i> Full Name</label>
                                    <input asp-for="Name" class="form-control" autocomplete="off" />
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label for="adr"><i class="fa fa-address-card-o"></i> Address</label>
                                    <input asp-for="Address" class="form-control" autocomplete="off" />
                                    <span asp-validation-for="Address" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label for="city"><i class="fa fa-institution"></i> City</label>
                                    <input asp-for="City" class="form-control" autocomplete="off" />
                                    <span asp-validation-for="City" class="text-danger"></span>
                                </div>
                                @*<div class="form-group">
                                        <label asp-for="UserId" class="control-label"></label>
                                        <input asp-for="UserId" class="form-control" />
                                        <span asp-validation-for="UserId" class="text-danger"></span>
                                    </div>*@
                                @*<div class="form-group">
                                            <label asp-for="UserPaymentMethod" class="control-label"></label>
                                            <select asp-for="UserPaymentMethod" class="form-control" asp-items="ViewBag.PaymentMethodId"></select>
                                    </div>*@
                                @*NEED TO CONNECT TO USER PAYMENT METHODS*@
                            </div>

                            <div class="col-md-4">
                                <h3>Payment</h3>
                                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

                                <div class="form-group">
                                    <label asp-for="PaymentMethodId" class="control-label"></label>
                                    <select asp-for="PaymentMethodId" class="form-control" asp-items="ViewBag.PaymentMethodId"></select>
                                </div>

                                <div class="icon-container" style="font-size: 24px;">
                                    <label for="fname" style="margin-bottom:7px;font-size:15px">Accepted Cards</label>
                                    <i class="fa fa-cc-visa" style="color:navy;"></i>
                                    <i class="fa fa-cc-amex" style="color:blue;"></i>
                                    <i class="fa fa-cc-mastercard" style="color:red;"></i>
                                    <i class="fa fa-cc-discover" style="color:orange;"></i>
                                </div>

                                @*<div class="form-group">
                                        <label asp-for="UserPaymentMethod.CardNumber" class="control-label"></label>
                                        <select asp-for="PaymentMethodId" class="form-control" asp-items="ViewBag.PaymentMethodId"></select>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="ExpiredDate" class="control-label"></label>
                                        <input asp-for="ExpiredDate" class="form-control" placeholder="MM/YYYY" />
                                        <span asp-validation-for="ExpiredDate" class="text-danger"></span>
                                    </div>*@
                                <!--<div class="form-group">
                                    <label asp-for="CVV" class="control-label"></label>
                                    <input asp-for="CVV" class="form-control" placeholder="352" />
                                    <span asp-validation-for="CVV" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="PayIdNumber" class="control-label"></label>
                                    <input asp-for="IdNumber" class="form-control" placeholder="123456789" />
                                    <span asp-validation-for="IdNumber" class="text-danger"></span>
                                </div>-->
                            </div>

                            <div class="col-md-4">
                                <h4>
                                    Cart
                                    <span class="price" style="color:black">
                                        <i class="fa fa-shopping-cart"></i>
                                        <b>1</b>
                                    </span>
                                </h4>
                                <br />

                                <p><a style="font-size:medium"></a> @ViewBag.App.Name<span class="price" style="float: right; color: grey;"> @ViewBag.App.Price ₪</span></p>
                                <hr>
                                <p style="font-size:medium;font-weight:bold">Total <span class="price" style="float: right; color: black;"><b> @ViewBag.App.Price ₪</b></span></p>

                            </div>
                        </div>

                        <input type="submit" value="Continue to checkout" class="btn" style=" background-color: #04AA6D; color: white; padding: 12px; margin: 10px 0; border: none; width: 100%; border-radius: 3px; cursor: pointer; font-size: 17px;">
                    </form>
                </div>
            </div>
        </div>
    </div>





    @*<div class="row">
            <div class="col-md-4">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Address" class="control-label"></label>
                        <input asp-for="Address" class="form-control" />
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="City" class="control-label"></label>
                        <input asp-for="City" class="form-control" />
                        <span asp-validation-for="City" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CardNumber" class="control-label"></label>
                        <input asp-for="CardNumber" class="form-control" />
                        <span asp-validation-for="CardNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ExpiredDate" class="control-label"></label>
                        <input asp-for="ExpiredDate" class="form-control" />
                        <span asp-validation-for="ExpiredDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CVV" class="control-label"></label>
                        <input asp-for="CVV" class="form-control" />
                        <span asp-validation-for="CVV" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="IdNumber" class="control-label"></label>
                        <input asp-for="IdNumber" class="form-control" />
                        <span asp-validation-for="IdNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="UserId" class="control-label"></label>
                        <input asp-for="UserId" class="form-control" />
                        <span asp-validation-for="UserId" class="text-danger"></span>
                    </div>
            <div class="form-group">
                <label asp-for="AppId" class="control-label"></label>
                <select asp-for="AppId" class ="form-control" asp-items="ViewBag.AppId"></select>
            </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>*@

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
