@model ColmanAppStore.Models.Payment

@{
    ViewData["Title"] = "Create payment";
    <link rel="stylesheet" href="~/css/paymentStyle.css" />
}

<!--{ if (ViewBag.PaymentMethods == null) //if user does not have payment method- does not work
    {

        <h1> You need To add Payment method first</h1>
        <a asp-action="create" asp-controller="PaymentMethods"> Click here to add credit card</a>
    }
    else
    {
        //Create(in PaymentMaethods controller) that gets string does not work :(
        //everything below

    }
}-->
<div class="card_payment col-12" id="cardStyle">
    <div class="card-body">
        <div class="row">
            <div class="col-75">
                <div class="container" id="containerStyle">
                    <form asp-action="Create">
                        <input type="hidden" name="AppId" value="@ViewBag.AppId" />
                        <input type="hidden" name="UserName" value="@User.Identity.Name" />

                        <div class="row">
                            <div class="col-md-4">
                                <h3>Billing Address</h3>
                                <div class="form-group">
                                    <label for="fname"><i class="fa fa-user"></i> Full Name</label>
                                    <input asp-for="Name" class="form-control" autocomplete="off" />
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label for="adr"><i class="fa fa-address-card-o"></i> Address</label>
                                    <input asp-for="Address" class="form-control" autocomplete="off" />
                                    <span asp-validation-for="Address" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label for="city"><i class="fa fa-institution"></i> City</label>
                                    <input asp-for="City" class="form-control" autocomplete="off" />
                                    <span asp-validation-for="City" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <h3>Payment</h3>

                                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> @*credit card icons link*@

                                <div class="form-group">
                                    <label asp-for="PaymentMethodId" class="control-label"></label>
                                    <select asp-for="PaymentMethodId" class="form-control" asp-items="ViewBag.PaymentMethodId"></select>
                                </div>

                                <div class="icon-container" id="cardTitle">
                                    <label for="fname" id="AcceptedTitle">Accepted Cards</label>
                                    <i class="fa fa-cc-visa" id="visaStyle"></i>
                                    <i class="fa fa-cc-amex" id="amexStyle"></i>
                                    <i class="fa fa-cc-mastercard" id="mastercardStyle"></i>
                                    <i class="fa fa-cc-discover" id="discoverStyle"></i>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <h4>
                                    Cart
                                    <span class="price" id="cartTitle">
                                        &ensp; @*move 2 spaces for style*@
                                        <i class="fa fa-shopping-cart"></i>
                                        <b>1</b>
                                    </span>
                                </h4>
                                <br />

                                <p><a id="cartApp"></a> @ViewBag.App.Name<span class="price" id="cartAppPrice"> @ViewBag.App.Price ₪</span></p>
                                <hr>
                                <p id="totalCart">Total <span class="price" id="totalPriceCart"><b> @ViewBag.App.Price ₪</b></span></p>

                            </div>
                        </div>

                        <input type="submit" value="Continue to checkout" class="btn" id="submitButton">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
