@model IEnumerable<ColmanAppStore.Models.Payment>

@{
    ViewData["Title"] = "All payments";
    <link rel="stylesheet" href="~/css/paymentStyle.css" />
}

<h1 id="paymentHeader">All payments</h1>

<table class="table">
    <thead>
        <tr>
           <!-- <th>
                @Html.DisplayNameFor(model => model.Name)
            </th> -->
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentMethod.CardNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentMethod.ExpiredDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.App.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.App)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
              <!--  <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td> -->
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PaymentMethod.CardNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PaymentMethod.ExpiredDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.App.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.App.Name)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
