@model IEnumerable<ColmanAppStore.Models.Payment>

@{
    ViewData["Title"] = "All payments";
    <link rel="stylesheet" href="~/css/paymentStyle.css" />
}

<div class="row">
    <div class="col-lg-9 col-md-10">
        <h1 id="PaymentHeaderSearch">All Payments</h1>
    </div>

    <div class="col-lg-3 col-md-2">
        <form id="searchPayment" asp-action="searchPayment" asp-controller="Payments" class="d-flex">
            <input id="font" name="query" type="search" class="form-control" placeholder="Search by App Name" aria-label="Search" aria-describedby="search-addon" autocomplete="off" />
            <div id="slider-range"></div>
        </form>
    </div>
</div>

@if (Model.Count() > 0)
{
    <table class="table">
        <thead>
            <tr>
                @*<th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.City)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PaymentMethod.CardNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PaymentMethod.ExpiredDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.App.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.App)
                </th>
                <th>
                    Details
                </th>
                <th>
                    Delete
                </th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    @*<td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.City)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PaymentMethod.CardNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PaymentMethod.ExpiredDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.App.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.App.Name)
                    </td>
                    <td>
                        <a class="btn btn-outline-info" asp-action="Details" asp-route-id="@item.Id">Details</a>

                    </td>
                    <td>
                        <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <br />
    <h2 class="text-center" id="PageHeader">Sorry, you don't have any payments</h2>
    <br />
}
